<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>

		<add name ="PrivateMontageScan"
	 connectionString="Data Source=WIN11\MSSQLMONTAGESERV;Initial Catalog=PrivateMontageScan;
			 User ID=genericUser;Password=genericUser;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;ApplicationIntent=ReadWrite;
			 MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
		
		<add name ="RV24_Montage"
			 connectionString="Data Source=192.168.11.84;Initial Catalog=RV24_Montage;
			User ID=MontageScanSQLAuth;Password=sQL?fU3r!M0nt@ge;Connect Timeout=30;Encrypt=True;
			TrustServerCertificate=True;ApplicationIntent=ReadWrite" providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>

