<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name ="PrivateMontageScan"
			 connectionString="Data Source=WIN11\MSSQLMONTAGESERV;Initial Catalog=PrivateMontageScan;
			 User ID=genericUser;Password=genericUser;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;ApplicationIntent=ReadWrite;
			 MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>


